.header {
		height: 64px;
		position: absolute;
		z-index: 100;
    /* display: flex; */
    /* align-items: center; */
}

.header a {
    display: flex;
    align-items: center;
		text-decoration: none;
		color: #2e2e2e;
}

.header .logo {
    width: 40px;
    max-height: 40px;
}

.header .little-group {
    padding-left: 16px;
}

.header .little-group i {
    padding-right: 16px;
}

.menu-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
}
.menu-btn:hover {
    opacity: 0.6;
}
.menu-icon {
	cursor: pointer;
}
.menu-icon:hover {
	opacity: 0.8;

}
