<mat-toolbar class="header mat-elevation-z4">
	<span>
		<a routerLink="/">
			<img class="logo v-middle" src="assets/005-tree.svg" alt="logo" />
		</a>
	</span>
	<span class="little-group menu-icon">
		<!-- <a routerLink="{{ routeURL }}"> -->
		<a (click)="showNav()">
			<i
				class="material-icons"
				[ngStyle]="{
					color:
						status.icon === 'remove_circle'
							? '#ff4081'
							: status.icon === 'add'
							? '#673ab7'
							: '#2e2e2e'
				}"
			>
				{{ status.icon }}
			</i>
			{{ status.title }}
		</a>
	</span>
		<span class="menu-btn" matTooltip="clique em mim!" matTooltipShowDelay="1500">
		<a (click)="showNav()">
			<i class="material-icons">
				menu
			</i>
		</a>
	</span>
</mat-toolbar>
