.home-container {
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;
}

.home .title {
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.2;
}

.home .subtitle {
	font-size: 0.9rem;
}

mat-card {
	max-width: 600px;
}

hr.separator {
	margin-bottom: 36px;
}


mat-card-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
	margin: 10px 0 6px 0;
}
img.banner {
	width: 200px;
	margin-left: 0;
}

p.description {
	color: rgb(108, 108, 108);
	width: 262px;
	text-align: end;
	margin-left: 4.4rem;
	word-wrap: break-word;
}


img.banner2 {
	width: 260px;
}

p.description2 {
	color: rgb(108, 108, 108);
	width: 208px;
	margin-right: 3.9rem;
	word-wrap: break-word;
}
