
mat-sidenav.sidenav {
		top: 0 !important;
		padding-top: 64px;
    background-color: #009688;
    width: 200px;
}

.sidenav a {
    color: #fff;
}

.sidenav i {
    padding-right: 16px;
}

.content {
    padding: 16px;
    background-color: #fff;
}
.hide-nav{
    display: none;
}
