/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    box-sizing: content-box;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.red {
    color: #e36064
}

.v-middle {
    vertical-align: middle;
}